#iphone-outline{
  width:400px;
  height:700px;
  background: #c0e8ca;
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}

h1 {
  color: #166996;
  text-align: center;
}

.button-container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

button{
  background-color: #166996;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
  font: 16px;
  color: #e0e3e5;
}