#iphone-outline{
  width:400px;
  height:700px;
  background-image: url('./leaf-bkg.png');
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
}

h1 {
  font: Lato;
  color: #166996;
  text-align: center;
}

.im-button {
  width:20px;
  display: flex;
  margin-left: 80px;
  margin-bottom: 500px;
  align-items: center;
}

.close {
  width:20px;
  display: flex;
  margin-left: 350px;
  margin-top: 15px;
}

#walk-button{
  background-color: #166996;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 100%;
  margin: 20px;
}

#bike-button{
  background-color: #166996;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 100%;
}
