#iphone-outline{
  width:400px;
  height:700px;
  background-image: url('./leaf-bkg.png');
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font: Lato;
  color: #166996;
  text-align: center;
}

h2 {
  color: #166996;
  text-align: left;
}

h5 {
  color: #166996;
  text-align: left;
}

.button-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#record-button{
  text-align: left;
  background-color: none;
  margin: 10px;
  padding: 10px;
  border: none;
  font-size: 16px;
  color: #166996;
  cursor: pointer;
  border-style: solid hidden solid hidden;
}

#dashboard-button {
  background-color: white;
  border-style: solid;
  border-color: #166996;
  color: #166996;
  padding: 20px 28px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  align-self: flex-end;
  margin: 10px;
  text-decoration: none;
}
